<?xml version="1.0"?>
<launch>   

<!-- start gazebo with boxes -->   
  <param name="/use_sim_time" value="true" />   
  <node name="gazebo" pkg="gazebo" type="gazebo" args="-u /home/bot/catkin_ws/src/test.world" respawn="true" output="screen"/>



  <!-- Load map -->   <node name="map_server" pkg="map_server" type="map_server" args="/home/bot/catkin_ws/src/map/map_finale.yaml" respawn="true" />

  <!--- Run AMCL -->  <include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch"> 

  <!--- Run Move Base  -->   <include file="$(find turtlebot_navigation)/config/move_base_turtlebot.launch" />

   <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch" />

</launch>
